@font-face {
			font-family: 'IsadoraBold';
		
			src: url('fonts/IsadoraBold.ttf');
			src: url('fonts/IsadoraBold.eot');    
			src: url('fonts/IsadoraBold.svg');
            src: url('fonts/IsadoraBold.otf'); 
            src: url('fonts/IsadoraBold.woff');   			
				}
				

			
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
	text-decoration:none;
}
table {						/* устраняем отступы между ячейками таблицы */
	border-collapse: collapse; 
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			
} 
input, select, button, textarea {
	margin: 0; 				
	font-size: 100%; 			
	outline: none;
}
input[type="text"], input[type="password"], textarea {
	padding: 0; 				
}
input[type="checkbox"] { 		
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}
/* --------------- /reset.css --------------- */
.clr{
	clear:both;
}
.clearfix:after {
    clear:both;
    content:"";
    display:table;
}
.center-block-main{
	max-width:1170px; margin:0 auto;
}
a, a:visited { /* порядок правил для ссылок имеет значение */
	color: #f45a40;
	text-decoration: none;
}
a:hover {
	color: #f45a40;
	text-decoration:none;
}
a:focus, a:active {
	color: #f45a40;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
	
}
h1{
	
}
body{
	color:#7e7f84;
	text-align: left;
	font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
	min-height:100%;
}
#top{
	width:100%;
	height:45px;
	opacity:0.95;
	position:fixed;
	top:0px;
	left:0px; 
	z-index:2;
	box-shadow:0px 0px 2px black; 
	background-color:#0f0f1a;
}
#menu_top{
	padding-top:13px;
	text-align:center; 
}
#menu_top li{
	display:inline-block;
	padding-right:2%;
	padding-left:2%;
	text-transform:uppercase;
    font-family: 'Cormorant Infant', serif;
}
#menu_top li a{
	text-decoration:none;
	color:#f4e389;
    padding:20px 10px 15px 10px;
    transition:background-color 1s;	
}
#menu_top li a:hover{
	background-color:grey;
}
#lambr{
	color: red; 
	font-weight: bold; 
	width:100%; 
	height:38px; 
	background-image:url('images/bcmu4.png');
    margin-top:10px;
}
.logo{
	position:absolute;
	top:40px;
	z-index:1;
	left:center;
}
.logo img{
	width:100%;
}
.my-slider img{
	width:100%;
}
.my-slider{
	border-bottom:1px solid grey; 
	box-shadow:0px 0px 2px black; 
	margin:0;
	padding:0;
}
main{
	width:100%;
	margin:0;
	padding:0;
}
#main_cont{
	border-bottom: 2px solid #fff;
	background-image: url("images/bc6.jpg");
	background-size:100%;
}
.line{
	background-color:#0f0f1a;
	width:100%;
	text-align:center;
	padding:20px 0;
	border-bottom:1px dashed white; 
}

.line h3{
	font-family: 'IsadoraBold', sans-serif;
	font-size:3em;
	padding:10px 0;
	color:white;
}
.line p{
	font-family: 'IsadoraBold', sans-serif;
	font-size:2em;
	color:white;
	padding:5px 0;
}
.line p.cn{
	margin-top:10px;
	font: 500 1.5em Tahoma serif;
	font-family: 'IsadoraBold', sans-serif;
	color:white;
}
.about_us{
	width:75%;
	margin:25px auto;
	background-color:white;
	padding:15px;
	border-radius:20px;
}
.about_us h3{
	font-size:1.5em;
	font-family: 'El Messiri', sans-serif;
	color:grey;
}
.about_us p{
	font-size:1em;
	font-family: 'El Messiri', sans-serif;
	color:grey;
}		
.my-flex-container{
	width:90%;
	margin:0 auto;
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:stretch;
	flex-wrap:wrap;
	padding:20px 0;
}
.my-flex-block{
	flex-basis:31%;
	box-sizing:border-box;	
	border-radius:20px;
	background-color:white;
	padding:5px 15px 25px 15px;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.45);
	background-image: url("images/e.jpg");
	background-position:100%;
}
.my-flex-block img  {
	display:block; 
	margin:10px auto 10px auto;
	width:100%;
	border-radius:4%;
}
	.my-flex-block h3 {
	font-size:1.5em;
	text-align:center;
	margin:25px 0 15px 0;
	font-family: 'IsadoraBold', sans-serif;
}
.my-flex-block p {
	font-size:1em;
	font-family: 'El Messiri', sans-serif;
	margin:15px 0px;
}
#main_cont1{
	border-bottom: 2px solid #fff;
	background-color:#0f0f1a;
}
#main_cont1 h3{
	font-family: 'IsadoraBold', sans-serif;
	font-size:3em;
	padding: 30px 0 10px 0;
	text-align: center;
	color:white;
}
.my-flex-container2{
	margin:0 auto;
	display: flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:stretch;
	padding:20px 0;
}
.my-flex-block2{
	width:45%;
	box-sizing:border-box;	
	background-color:white;
	padding:10px 10px 10px 10px;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.45);
	text-align:center;
	border-radius:20px;
	display: flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:stretch;
}

.img_block{
	width:200px;
	height:100%;
	display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
	margin-right:5px;
}
.block_cont{
	text-align:center;
	height:100%;
	margin:0 auto;
}
.img_block img{
	border-radius:50%; 
}
.my-flex-block2 h4 {
	font-size:1.5em;
	text-align:center;
	margin:10px 0 10px 0;
	font-family: 'IsadoraBold', sans-serif;
}
main h5 {
	font-size:3em;
	text-align:center;
	margin:40px 0 0 0;
	font-family: 'IsadoraBold', sans-serif;
	color:white;
}
.my-flex-block2 p {
	font-size:1em;
	font-family: 'El Messiri', sans-serif;
	margin-bottom:10px;
}

.order{
	border:1px solid pink;
	width:150px;
	margin:0 auto;
	padding:10px 0;
	border-radius:5px;
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}
a .order{
	color:grey;
}
.order:hover{
	background-color:pink;
	color:white;
}
.ourworks{
	background-image: url("images/e.jpg");
	padding-bottom:20px;
	
}
.price{
	margin:10px auto;
	width:85%;
	background-color:white;
	padding:30px 0 20px 0;
	}
.price p.send{
	text-align:center;
	margin-top:10px;
}

.major{
	text-align:center;
}
.major h4{
	font-family: 'IsadoraBold', sans-serif;
	font-size:3em;
	padding: 25px 0 0 0;
	text-align: center;
	
}
.standart{
	margin:0 auto;
	width:95%;
	
}
tr p{
	text-align:center;
}
th{
	border:1px solid grey;
	padding:10px 5px;
	text-align:center;
}
td{
	border:1px solid grey;
	padding:5px;
}
footer{
	background-color:black;
	color:LightPink;
	text-align:center;
	padding-top:25px;
}
.kontact__footer p{
	font-size:1.3em;
	font-family: 'El Messiri', sans-serif;
	margin:10px 0 20px 0;
}
.kontact__footer h3{
	font-size:2em;
	font-family: 'El Messiri', sans-serif;

}
.logo__footer{
	margin:0 auto;
}
.social{
	
}
#map{
	width:100%;
	height:400px;
	margin:25px auto 0 auto;
}
.end{
	margin:10px 0 0 0;
	font-family: 'El Messiri', sans-serif;
}
.social a{
	margin-right:5px;
}



@media screen and (max-width:950px){
	
.my-flex-container{
	width:100%;
	justify-content:space-around;
	
	}
.my-flex-block{
	flex-basis:32%;
}
.my-flex-container2{
	flex-wrap:wrap;
	padding:0;
}
.my-flex-block2{
	flex-basis:70%;
	flex-direction:row;
	justify-content:space-around;
	align-items:stretch;
	margin:10px 0;
}
}

@media screen and (max-width:880px){

#menu_top li a{
	padding:20px 5px 20px 5px;
   }
#menu_top li a:hover{
	background-color:transparent;
}	
}

@media screen and (max-width:800px){

#menu_top li a{
	padding:20px 3px 20px 3px;
	font-size:0.9em;
   }
#lambr{
	display:none;
}
}

@media screen and (max-width:780px){

#main_cont{
	background-image: none;
	background-size:100%;
	background-color:#0f0f1a;
}

.my-flex-container{
	width:100%;
	justify-content:space-around;
	
	}
.my-flex-block{
	flex-basis:80%;
	margin:10px 0;
}

}

@media screen and (max-width:694px){
#top{
	height:80px;
}
#menu_top li a{
    padding:0 10px;
	line-height:30px;
	}
.line h3{
	font-size:2em;
}
.line p{
	font-size:1.5em;
}
.line p.cn{
	font:500 1.3em Tahoma serif;
}
.about_us p{
	font-size:1em;
	font-family: 'El Messiri', sans-serif;
	color:grey;
}
.my-flex-block2{
	flex-basis:80%;
	}	
#main_cont1 h3{
	font-size:2em;
}	
main h5 {
	font-size:2em;
}
}

@media screen and (max-width:550px){
.logo{
	top:70px;
}
.my-flex-block2{
	flex-basis:90%;
	}		
}

@media screen and (max-width:500px){
	.my-flex-block2{
	flex-basis:95%;
	}	
}

@media screen and (max-width:460px){
	
.ourworks{
	background-image: url("images/e.jpg");
	padding-bottom:20px;	
}
.price{
	margin:10px auto;
	width:100%;
	background-color:white;
	padding:30px 0 20px 0;
	}
.price p.send{
	text-align:center;
	margin-top:10px;
}

.major{
	text-align:center;
}
.major h4{
	font-family: 'IsadoraBold', sans-serif;
	font-size:2em;
	padding: 25px 0 0 0;
	text-align: center;
	
}	
}

@media screen and (max-width:400px){

#menu_top li a{
	padding:20px 3px 20px 3px;
	font-size:0.8em;
   }
  #menu_top{
	padding-top:10px;
	}
.logo{
	top:60px;
}
.line h3{
	font-size:1.5em;
}
.line p{
	font-size:1.3em;
}
.line p.cn{
	font:500 1em Tahoma serif;
}
.about_us p{
	font-size:1em;
	font-family: 'El Messiri', sans-serif;
	color:grey;
}	
.img_block{
	display:none;
}
#main_cont1 h3{
	font-size:1.5em;
}	

.price p.send{
	text-align:center;
	margin-top:10px;
}

.major{
	text-align:center;
}
.major h4{
	font-family: 'IsadoraBold', sans-serif;
	font-size:2em;
	padding: 25px 0 0 0;
	text-align: center;
	
}	
.standart{
	margin:0 auto;
	width:95%;
	
}
tr p{
	text-align:center;
	font-size:12px;
}
th{
	border:1px solid grey;
	padding:5px 0px;
	text-align:center;
	font-size:12px;
}
td{
	border:1px solid grey;
	padding:0;
	font-size:12px;
}
}